amqp==5.3.1
anyio==4.15.1
asgi-cors==1.0.1
asgiref==3.11.1
attrs==26.1.0
billiard==4.2.4
boto3==1.43.94
botocore==1.43.94
celery==5.6.3
certifi==2026.7.22
channels==4.3.2
channels_redis==4.3.0
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
Django==6.0.7
django-cors-headers==4.9.0
django-storages==1.14.6
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
drf-spectacular==0.30.0
Faker==40.36.0
flower==2.0.1
gunicorn==26.0.0
h11==0.16.0
httptools==0.8.0
humanize==4.16.0
idna==3.19
inflection==0.5.1
jmespath==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
msgpack==1.2.2
packaging==26.3
pillow==12.3.0
prometheus_client==0.26.0
prompt_toolkit==3.0.53
psycopg2-binary==2.9.12
PyJWT==2.13.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-json-logger==4.1.0
pytz==2026.3.post1
PyYAML==6.0.3
redis==8.1.0
referencing==0.37.0
rpds-py==2026.6.3
s3transfer==0.19.2
sentry-sdk==2.67.1
six==1.17.0
sqlparse==0.5.5
tornado==6.5.8
tqdm==4.70.0
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
uritemplate==4.2.0
urllib3==2.7.0
uvicorn==0.52.4
uvloop==0.22.1
vine==5.1.0
watchfiles==1.2.0
wcwidth==0.8.2
websockets==17.1
